.box
  .col-lg-12.clearfix
    hr
    h2.intro-text.text-center About Our
      strong  Company
    hr
    img.img-responsive.img-border.img-left.img-max-width(src='img/billy_magnolia.jpg', alt='')
    hr.visible-xs
    p
      | Deep Roots Carolinas is a landscaping firm located in the heart of historic downtown Mooresville, NC. We specialize in mowing, trimming, light
      | flower bed maintenance, and small repairs.
    p
      | We are a small, local company that is dedicated to serving our clients. This is a picture of Billy, the primary owner 
      | and operator of Deep Roots Carolinas, with his newborn daughter. He's not a businessman or a CEO. He's not a faceless
      | suite living 1000 miles away. He's your neighbor.
    p
      | Core to our business model is honesty and quality, and we believe our work speaks for itself.
