.box
  .col-lg-12.clearfix
    hr
    h2.intro-text.text-center Services We
      strong  Offer
    hr
    p.center-text Spring and fall are the best times to aerate, fertilize and seed. These are also responsible times to trim trees and bushes. If you're in need of any of these services I can help. Throw in a spring clean pressure washing as well.
    img.img-responsive.img-border.img-left.img-max-width(src='img/grass-new.jpg', alt='')
    hr.visible-xs
    ul.list-group
      li.list-group-item.list-group-item-success Aeration
      li.list-group-item.list-group-item-success Seeding
      li.list-group-item.list-group-item-success Fertilizing
    ul.list-group
      li.list-group-item.list-group-item-success Pressure washing
      li.list-group-item.list-group-item-success Pre-Emergent
      li.list-group-item.list-group-item-success Full Lawn Service
      
      
        
