.box
  .col-lg-12
    hr
    h2.intro-text.text-center Our
      strong Team
    hr
  .col-sm-4.text-center
    img.img-responsive(src='img/billy_magnolia.jpg', alt='', width=750, height=450)
    h3 Billy Arrington
      small Owner/CEO
  //- .col-sm-4.text-center
  //-   img.img-responsive(src='http://placehold.it/750x450', alt='')
  //-   h3 John Smith
  //-     small Job Title
  //- .col-sm-4.text-center
  //-   img.img-responsive(src='http://placehold.it/750x450', alt='')
  //-   h3 John Smith
  //-     small Job Title
  .clearfix
