.box
  .col-lg-12
    hr
    h2.intro-text.text-center What People Are
      strong  Saying
    hr
    .row
      .col-lg-4
        blockquote  
          | Deep Roots Carolinas came in and got us out of a hairy situation. All of our grasses were
          | bullcrap, and he fixed all of it.
        div.quote  Captain Obvious
      .col-lg-4
        blockquote  
          | Deep Roots Carolinas came in and got us out of a hairy situation. All of our grasses were
          | bullcrap, and he fixed all of it.
        div.quote  Captain Obvious
      .col-lg-4
        blockquote
          a(href="#") Add Your own Story