extends ./layout.jade

block content
  .container
    .row
      include ./partials/about.jade
    .row
      include ./partials/services.jade
    .row
      include ./partials/form.jade
  // /.container
