extends ./layout.jade

block content
  .container
    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center
            | Contact
            strong  Deep Roots Carolinas
          hr
        .col-md-8
          // Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it!
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207689.97077590865!2d-81.10264002439959!3d35.57454631610084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856ad357f03dd69%3A0xee1f400216d78a1f!2sLake+Norman!5e0!3m2!1sen!2sus!4v1459381615349" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        .col-md-4
          p
            | Phone:
            strong 704.230.7145
          p
            | Email:
            strong
              br
              a(class="url-link", href='mailto:billy.arrington@deeprootscarolinas.com') billy.arrington@deeprootscarolinas.com
          p
            | Address:
            strong
              br
              | P.O. Box 305
              br
              | Mooresville, NC 28115 
        .clearfix
    .row
      include ./partials/form.jade
  // /.container
