extends ./layout.jade

block content
  .container
    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center
            | Contact
            strong  Deep Roots Carolinas
          hr
        .col-md-8
          // Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it!
          iframe(width='100%', height='400', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51917.0009832223!2d-80.83736044999999!3d35.58301795000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88515558977a5005%3A0x6742006b7eed5462!2sMooresville%2C+NC!5e0!3m2!1sen!2sus!4v1426907372777')
        .col-md-4
          p
            | Phone:
            strong 704.230.7145
          p
            | Email:
            strong
              br
              a(class="url-link", href='mailto:billy.arrington@deeprootscarolinas.com') billy.arrington@deeprootscarolinas.com
          p
            | Address:
            strong
              br
              | P.O. Box 305
              br
              | Mooresville, NC 28115 
        .clearfix
    .row
      include ./partials/form.jade
  // /.container
