extends ./layout.jade

block content
  .container
    .row
      .box
        .col-lg-12.text-center
          #carousel-example-generic.carousel.slide
            // Indicators
            ol.carousel-indicators.hidden-xs
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
            // Wrapper for slides
            .carousel-inner
              .item.active
                img.img-responsive.img-full(src='img/samples/1.jpg', alt='')
              .item
                img.img-responsive.img-full(src='img/samples/2.jpg', alt='')
              .item
                img.img-responsive.img-full(src='img/samples/3.jpg', alt='')
            // Controls
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.icon-prev
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
              span.icon-next
          h2.brand-before
            small Welcome to
          h1.brand-name Deep Roots Carolinas
          hr.tagline-divider
    .row
      include ./partials/about.jade
    .row
      include ./partials/testimonials.jade
    .row
      include ./partials/form.jade
